*{
    margin: 0px;
}
nav{
    height: 50px;
    background:lightseagreen;
}
#banner{
    height: 550px;
    background: cadetblue;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin-right: 20px;

}
nav ul li a{
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
   height: inherit;
    color: darkcyan;

}
nav .logo{
    float: left;
    margin: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    float: left;
    color: darkcyan;
}
nav .logo  a{
    text-decoration: none;
    color: darkcyan;
}
#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:160px;
}
#banner .inner h1{
    margin: 0;
}
button{
    border: none;
    background: darkcyan;
    margin-top: 15px;
    padding: 8px 15px;
}
#banner .inner .more{
    margin-top: 200px;
}

#banner .inner .sub-heading{
    line-height: 20px;
    font-size: 15px;
}

.content{
    height: 1200px;

}
.content .green-section{

   height: 400px;
    background:forestgreen;

}

.content .purple-section{

    height: 400px;
    background:rebeccapurple;

}

.content .gray-section{

    height: 400px;
    background:gray;

}

.content .green-section .wrapper{
     max-width: 500px;
     text-align: center;
     margin: 0 auto;
     position: relative;
     top:60px;
 }
.content .green-section .wrapper .hr{
    height: 2px;
    width: 100%;
    margin: 10px auto;
    background: greenyellow;
}
.content .green-section .wrapper .w{
   margin-top: 20px;
   }
.content .green-section .wrapper span{
    display: inline-block;
    margin: 20px;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    background:deepskyblue;
    text-align: center;

}

.content .gray-section .article{
    max-width: 500px;
    float: left;
    top:60px;
}

.content .gray-section .wrapper{
    max-width: 400px;
    margin-left: 200px ;
    text-align: center;

    position: relative;
    top:60px;
}
.content .gray-section .article-img{
    max-width: 500px;
    margin-top: 30px;
    margin-right: 200px;
    float: right;
    top:60px;
}

.content .purple-section .article{
    max-width: 500px;
    float: right;
    top:60px;
}

.content .purple-section .wrapper{
    max-width: 400px;
    margin-right: 200px ;
    text-align: center;

    position: relative;
    top:60px;
}
.content .purple-section .article-img{
    max-width: 500px;
    margin-top: 30px;
    margin-left: 200px;
    float: left;
    top:60px;
}

footer .foot{
    height: 200px;
    margin: 0 auto;
    background: lightgoldenrodyellow;
    text-align: center;
}
footer .foot h3{
    margin: 100px auto;
}
